.modal-background {	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0);
	visibility: hidden;
	z-index: 100;
	-webkit-transition: all .75s ease;
}

.modal-box {
	height: 120px;
	width: 350px;
	margin: 300px auto 0;
	border-radius: 6px;
	background: #6592A0;
	color: #ECE0B9;
	border: 1px solid #3E5879;
	opacity: 0;
	padding: 20px;
	overflow: hidden;
	z-index: -1;
	position: relative;
	text-shadow: 0 1px #5C6F86;
	-webkit-transform: rotate(8deg);
	-webkit-transition:	all .75s .20s ease;					
}

.modal-background-active {
	visibility: visible;
	background: rgba(0,0,0,.5);
}

.modal-box-active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1.3);
}

.rectangle-button.modal-button {
	width: 50px;
	height: 30px;
	font-size: 0.75em;
	line-height: 30px;
	position: absolute;
	bottom: 30px;
	right: 20px;
}

.message-title {
	margin: 0;
}

.modal-box hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #3E5879;
	margin-bottom: 20px;
}

.modal-box p {
	line-height: 22px
}




