body {
	height: 775px;
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	background: linear-gradient(to bottom, #414141 1%, #202020 100%) no-repeat;
}

* {
	vertical-align: top;
}

input {
	width: 250px;
	margin: 20px 5px 10px 25px;
	padding: 8px 5px 8px 14px;
	font-size: 16px;
	border-radius: 5px;
	border: 0;
	display: block;
}

input:first-child {
	margin-top: 30px;
}

a {
	text-decoration: none;
}

ul {
	padding-top: 20px;
	list-style: none;
}

li {
	padding: 10px;
}

li:hover, .bold-name {
	font-weight: bold;
}

hr.profile-hr {
	width: 440px;
	height: 1px;
	margin: 10px auto 17px;
	border: 0;
	border-top: 1px solid #363636;
}

.backdrop {
	width: 970px;
	margin: 70px auto;
	padding-top: 30px;
	padding: 32px 9px;
	border-radius: 18px;
	background: linear-gradient(to top, #365561 1%, #4C7A91 100%);	
}

.container {
	width: 910px;
	margin: 0 auto;

}

.backdrop.view-users {
	position: relative;
	top: -764px;
}

.hide {
	visibility: hidden;
}

.form, .profile {
	height: 500px;
	margin-bottom: 30px;
	background: #ECE0B9;
	display: inline-block;
	position: relative;
	box-shadow: inset 0 1px 2px 1px #C2C099, 
					  0px 0px 2px -1px #0B263C;	
}

.form {
	width: 325px;
	border-radius: 15px 0 0 0;
}

.profile {
	width: 535px;
	margin-right: 0;
	border-radius: 0 15px 0 0;
	float: right;
}

.page-bottom {
	height: 100px;
	position: relative;
	background: #6592A0;
	border-radius: 0 0 15px 15px;
	box-shadow: inset 0 -2px 0px 0px #869DAF, 
					  0px 0px 2px -1px #0B263C;
}

.profile-name {
	color: #414141;
	height: 100px;
	padding-top: 20px;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
}

.profile-info {
	color: #414141;
	height: 40px;
	padding: 10px 20px 5px 50px;
	line-height: 27px;
	font-size: 20px;
}

span.type {
	color: #365561;
	padding-right: 5px;
	font-variant: small-caps;
	font-weight: bold;
}

.first-letter {
	line-height: 50%;
}

.last-letter {
	font-weight: bold;
	font-size: 150%;
	line-height: 70%;
}

.last-letter.one {
	line-height: 115%;
}

.rectangle-button {
	color: #FFF;
	background: #456D7C;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #3F3F3F;
	box-shadow: inset 0px 4px 1px -3px rgb(162, 162, 162);
	text-shadow: 0 1px 0 #3F3F3F;
}

.rectangle-button {
	width: 138px;
	height: 37px;
	margin: 30px 0 0 88px;
	font-size: .9em;
	line-height: 2.5em;
	display: inline-block;
}

.rectangle-button:hover {
	background: #4F7481;
}

.rectangle-button.submit-button {
	border: 1px solid #866E58;
	background: #A08254;
}

.rectangle-button.submit-button:hover {
	background: #B69461;
}

.rectangle-button.submit-button,
.rectangle-button.remove-user-button {
	position: absolute;
	bottom: 33px;
}

.rectangle-button.remove-user-button {
	background: rgb(172, 76, 76);
}

.rectangle-button.remove-user-button:hover {
	background: #A13C3C;
}

.rectangle-button.view-users-button,
.rectangle-button.go-back-button {
	position: absolute;
	right: 30px;
}

.make-red {
	background: rgb(172, 76, 76);
}






